absl-py==1.4.0
abstract_singleton==1.0.1
accelerate==0.21.0
aiofiles==23.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.7.0
ansi2html==1.8.0
anyio==3.7.1
appnope==0.1.4
argilla==0.0.1
array-record==0.4.0
arxiv==2.1.3
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.2
asyncio==3.4.3
attrs==23.1.0
Authlib==1.3.0
auto_gpt_plugin_template @ git+https://github.com/Significant-Gravitas/Auto-GPT-Plugin-Template@7612a14c629dc64ad870eee4d05850d60e1dd9ce
autoflake==2.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
bitsandbytes==0.40.2
black==23.7.0
bleach==6.1.0
blinker==1.6.2
blis==0.7.10
Brotli==1.0.9
cachetools==5.3.1
catalogue==2.0.9
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
chromadb==0.3.26
click==8.1.7
clickhouse-connect==0.6.8
cohere==4.33
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.0
contourpy==1.1.0
cryptography==41.0.2
cssselect2==0.7.0
cycler==0.11.0
cymem==2.0.7
dash==2.11.1
dash-bootstrap-components==1.4.2
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.5.7
datadog==0.49.1
datasets==2.14.1
debugpy==1.8.1
decorator==5.1.1
deepface==0.0.89
deprecation==2.1.0
dill==0.3.7
-e git+https://github.com/A-New-Native/A1_Discord.git@5b59ebf5a8993cb6f72416b10863005e3a89fb9d#egg=discord_bot
discord-py-interactions==5.8.0
discord-py-slash-command==4.2.1
discord-typings==0.6.0
discord-ui==5.1.6
discord.py==2.3.1
distlib==0.3.8
distro==1.8.0
dlib==19.24.4
dm-tree==0.1.8
dnspython==2.4.1
docker==6.1.3
docopt==0.6.2
duckdb==0.8.1
duckduckgo-search==3.8.3
email_validator==2.2.0
emoji==2.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
et-xmlfile==1.1.0
etils==1.4.0
exceptiongroup==1.1.1
execnet==1.9.0
executing==2.0.1
face-recognition==1.3.0
face_recognition_models==0.3.0
faiss-cpu==1.7.4
fastapi==0.115.0
fastapi-cli==0.0.4
fastavro==1.8.2
feedparser==6.0.10
filelock==3.12.2
fire==0.6.0
Flask==2.2.5
flatbuffers==23.5.26
fonttools==4.41.1
frozenlist==1.4.0
fsspec==2023.6.0
Fuzzy==1.2.2
fuzzywuzzy==0.18.0
gast==0.4.0
gdown==5.1.0
gitdb==4.0.10
GitPython==3.1.32
goldenverba==0.4.0
google-api-core==2.11.1
google-api-python-client==2.92.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-pubsub==2.18.0
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
google-search-results==2.4.2
googleapis-common-protos==1.59.1
gotrue==2.5.4
gptcache==0.1.38
GPUtil==1.4.0
grpc-google-iam-v1==0.12.6
grpcio==1.56.2
grpcio-status==1.56.2
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
h5py==3.9.0
hnswlib==0.7.0
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
httpcore==0.17.3
httplib2==0.22.0
httptools==0.6.0
httpx==0.24.1
huggingface-hub==0.24.7
humanfriendly==10.0
hyperframe==6.0.1
idna==3.4
imageio==2.34.0
importlib-metadata==6.8.0
importlib-resources==6.0.0
influxdb-client==1.36.1
ipykernel==6.29.3
ipython==8.22.2
isort==5.12.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jiter==0.5.0
joblib==1.3.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter_client==8.6.1
jupyter_core==5.7.2
keras==2.13.1
kiwisolver==1.4.4
langchain==0.3.1
langchain-community==0.3.1
langchain-core==0.3.7
langchain-openai==0.2.1
langchain-text-splitters==0.3.0
langchainplus-sdk==0.0.20
langcodes==3.3.0
langsmith==0.1.129
lazy_loader==0.4
libclang==16.0.6
loguru==0.7.0
lxml==4.9.3
lz4==4.3.2
Markdown==3.4.4
markdown-it-py==3.0.0
markdown2==2.4.10
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-enum==1.5.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
md2pdf==1.0.1
mdurl==0.1.2
mlx==0.17.3
monotonic==1.6
moshi_mlx==0.1.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.8
mtcnn==0.1.1
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.9
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
numexpr==2.8.4
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
onnxruntime==1.15.1
openai==1.50.2
openapi-python-client==0.14.1
openapi-schema-pydantic==1.2.4
opencv-python==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.15
outcome==1.2.0
overrides==7.3.1
packaging==24.1
pandas==2.0.3
parso==0.8.3
pathspec==0.11.2
pathy==0.10.2
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.2
peft==0.4.0
pexpect==4.9.0
Pillow==9.5.0
pinecone-client==2.2.2
platformdirs==3.10.0
plotly==5.15.0
postgrest==0.16.8
posthog==3.0.1
preshed==3.0.8
promise==2.3
prompt-toolkit==3.0.43
propcache==0.2.0
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.5
psycopg2==2.9.6
ptyprocess==0.7.0
pulsar-client==3.2.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydeck==0.8.0
pydyf==0.7.0
pyfiglet==0.8.post1
pyflakes==3.1.0
Pygments==2.15.1
pymongo==4.5.0
Pympler==1.0.1
PyMuPDF==1.24.0
PyMuPDFb==1.24.0
pypandoc==1.11
pyparsing==3.0.9
PyPDF2==3.0.1
pypdfium2==4.19.0
pyphen==0.14.0
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==0.6.21
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq==25.1.2
reactivex==4.0.4
realtime==1.0.6
referencing==0.30.0
regex==2023.3.23
requests==2.32.3
requests-oauthlib==1.3.1
retina-face==0.0.16
retrying==1.3.4
rich==13.4.2
rpds-py==0.9.2
rsa==4.9
rustymimi==0.1.1
safetensors==0.4.5
scikit-image==0.23.1
scikit-learn==1.3.0
scipy==1.11.1
selenium==4.11.2
sentencepiece==0.2.0
sentry-sdk==2.5.1
sgmllib3k==1.0.0
shellingham==1.5.0.post1
six==1.16.0
sklearn==0.0.post7
slidingwindow==0.0.14
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.5.0
soupsieve==2.4.1
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sphn==0.1.4
SQLAlchemy==2.0.30
srsly==2.4.7
stack-data==0.6.3
starlette==0.37.2
storage3==0.7.6
streamlit==1.25.0
StrEnum==0.4.15
supabase==2.5.0
supafunc==0.4.6
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
tensorflow-metadata==1.13.1
tensorpack @ git+https://github.com/ppwwyyxx/tensorpack.git@1547a54e8546494614ca31c984a1bfd1d0e24b77
termcolor==2.3.0
thinc==8.1.10
threadpoolctl==3.2.0
tifffile==2024.2.12
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
torch-geometric==2.3.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.14.2
transformers==4.31.0
trio==0.22.2
trio-websocket==0.10.3
trl==0.4.7
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==4.3.1
ujson==5.10.0
unstructured==0.7.1
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.31.0
uvloop==0.17.0
validators==0.20.0
virtualenv==20.26.1
wasabi==1.1.2
watchfiles==0.19.0
wcwidth==0.2.13
weasyprint==59.0
weaviate-client==3.23.1
webdriver-manager==4.0.0
webencodings==0.5.1
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.2.3
wrapt==1.15.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.0
xxhash==3.3.0
yarl==1.14.0
youtube-transcript-api==0.6.1
zipp==3.16.2
zopfli==0.2.2
zstandard==0.21.0
